* {
  margin: 0;
  padding: 0;
}

.layout {
  background-color: #242423;
}
.header{
  border-bottom: 1px solid #999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.content {
  padding:  50px 90px;
}