@import './variables.scss';

.banner-wrapper{
    width: 800px;
    .movie-banner-box {
        position: relative;
    }
    .movie-banner-content {
        position: absolute;
        z-index: 2;
        left:50px;
        top:50%;
        transform: translate(0, -50%);
        a {
            text-decoration: none;
        }
        .movie-banner-heading {
            width: 300px;
            text-align:left; 
            color: white;
            font-size: 40px; 
            font-family: "Avenir Next", Arial, Helvetica, sans-serif;
            font-weight: 700;
            text-shadow: 0 0 2rem rgba(61, 58, 58, 0.6);
        }
        .movie-banner-release-date{
            width: 110px;
            padding: 5px;
            color: white;
            text-align:left; 
            background-color: #67675a;
            font-weight: bold;
        }
    }
}
.movie-heading-container {
    display: flex;
    align-items: center;
    .more-movie-icon {
        margin-left: 10px;
        font-size: 2rem;
        color: $subheading-fontColor;
    }
    .more-movie-icon:hover{
        color: $heading-fontColor;
    }
}

.movie-heading {
    // margin-bottom: 40px;
    color: $heading-fontColor;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: .00735em;
    text-decoration: inherit;
    text-transform: inherit;
    font-weight: 500;
    margin: 0;
    &-year{
        color: #888888;
        font-size: 1.5rem;
    }
}
.movie-heading::before{
    background: #8e7e46;
    content: '';
    margin-left: -1rem;
    margin-top: 0.25rem;
    align-self: flex-start;
    position: absolute;
    height: 30px;
    width: 4px;
}

.movie-list{
    margin-top: 20px;
    height: 370px;
    // height: 430px;
    &::-webkit-scrollbar {
        visibility: hidden;
    }
}
.movie-list:hover {
    &::-webkit-scrollbar {
        height: 5px;
      }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: rgba(129, 129, 128, 0.85);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        border-radius: 0;
        background: rgba(200, 201, 210, 0.06);
    }
}

.movie-detail-wrapper{
    display: flex;
    justify-content: space-between;
}
.movie-wrapper {
    padding: 10px 100px;
    .movie-list{
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        .movie-poster-box {
            position: relative;
            margin-right: 20px;
            .movie-poster {
                width: 226px;
                height: 339px;
                // width: 290px;
                // height: 406px;
            }
            .movie-poster-detail {
                display: none;
                position: absolute;
                bottom: 0;
                height: 80px;
                width: 100%;
                background-color: rgba(48, 46, 46, 0.708);
                text-align: center;
                color: rgb(247, 238, 238);
                font-size: 15px;
            }
        }
        .movie-poster-box:hover {
            transform: scale(1.04);
            .movie-poster-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align:center;
                span {
                    font-size: large;
                    font-weight: bold;
                }
                p {
                    margin:5px 0 0 0;
                    font-size: small;
                }
            }
        }
    }
    .movie-tagline {
        font-size: 14px;
        color: $theme-fontColor;
    }
    .movie-detail{
        font-size: 14px;
        display: flex;
        &-post{
            img {
                width:300px;
                height: 420px;
            }
        }
        &-info{
            color: $theme-fontColor;
            .movie-homepage {
                color: $theme-fontColor;
                text-decoration: none;
                &:hover{
                    background-color: rgb(235, 206, 150);
                    color:#2a211a;
                }
            }
            .movie-metadata-genre{
                a {
                    text-decoration: none;
                }
                list-style: none;
                .movie-genre-box {
                    display: inline;
                    margin-right: 10px;
                }
            }
            .movie-metadata-divider {
                margin: 0;
                padding: 10px 0;
                border-top-width: 1px;
                border-top-style: solid;
                list-style: none;
                span {
                    font-weight: bold;
                }
                .movie-overview {
                    display: block;
                    margin-top: 5px;
                    &:first-letter {
                        font-size: 2rem;
                        color:#dfdac6;
                    }
                }
            }
        }
    }  
}

.movie-right-container {
    flex: 0;
    margin-left: 50px;
    width: 750px;
    padding-left: 30px;
    border-left: 1px solid #eaeaea;
    color: #9b9b9b;
    .rating-content{
        display: flex;
        .rating-num{
            width: 75px;
            text-align: center;
            color: $heading-fontColor;
            font-size: 48px;
            line-height: 54px;
            margin-right: 20px;
        }
        .rating-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .half-rating-read{
                background-color: #fff;
            }
            .rating-count {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}

.movie-info-wrapper{
    padding: 10px 100px;
    .detail-heading{
        color:$subheading-fontColor;
        font-size: 20px;
        margin: 20px 0;
    }
    .detail-heading::before{
        background: #8e7e46;
        content: '';
        margin-left: -1rem;
        margin-top: -0.1rem;
        align-self: flex-start;
        position: absolute;
        height: 26px;
        width: 4px;
    }      
}

.cast {
    .cast-list{
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
            visibility: hidden;
        }
        .cast-box{
            margin-right: 15px;
        }
    }
}

.lister{
    margin-top: 50px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .lister-item {
        width: 300px;
        justify-content: center;
        background-color: #eceadb;
        border-radius: 10px;
        margin-bottom: 50px;
        &-img .movie-poster{
            width: 300px;
            height: 450px;
        }
        &-content {
            padding: 30px;
            .lister-item-rating {
                display: flex;
                align-items: center;
                // justify-content: space-between;
            }
            .lister-item-header{
                font-size: 20px;
            }
            .ratings-bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
            }
            .rating {
                display: flex;
                align-items: center;
                color: $heading-fontColor;
                font-size: 30px;
                font-weight: bold;
                p {
                    margin: 0;
                }
            }
            .text-muted {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 10;
                overflow:hidden;
                /*! autoprefixer: off */
                -webkit-box-orient: vertical;
            }
        }
    }
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    li > div {
        color: #dfdac6;
    }
    button.Mui-selected {
        background-color:#254a67;
        color: white;
        transform: scale(1.1);
    }
    button {
        margin-right: 20px;
        background-color:#515248;
        color:$theme-fontColor;
    }
}

.textOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-list {
    .review-item {
        background-color: #efe8ce;
        border-radius: 1.5rem;
        margin-bottom: 3rem;
        padding: 2.5rem 4rem;
        .review-info {
            color: #515248;
            .review-user{
                display: flex;
                .avatar {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: absolute;
                        top: -0.7rem;
                    }
                }
            }
            display: flex;
            justify-content: space-between;
        }
        .review-content::first-letter {
            font-size: x-large;
            color: #4d4121;
            margin-right: 0.05rem;
        }
    }
}